.node_breadcrumb_categories label {display:inline;}
.node_breadcrumb_categories .form-item {display:inline; margin-right:1em; white-space:nowrap;}
.node_breadcrumb_categories select {margin-top:0.5em;}
